.delete-modal-button-row {
	display: flex;
	gap: 2vw;
	margin-top: 20px;
}

.delete-modal-button {
	border: 2px solid black;
	font-size: 1.5rem;
	padding: 10px 3.9vw;
	margin: auto;
	width: fit-content;
	font-weight: bold;
	letter-spacing: 0.06em;
}

.delete-confirm {
	background-color: red;
	color: white;
}
